extends ./layouts/main.pug 

block content
    h3.content-title 기본용어 정리
    ul.term
        li.term_list
            span.term__name 변수(variable)
            span.term__content 하나의 값을 저장하기 위해 확보한 메모리 공간 자체 도는 그 메모리 공간을 식별하기 위해 붙인 이름, 값의 위치를 가리키는 상징적인 이름
        li.term_list
            span.term__name 식별자(identifier) = 변수 이름, 함수 이름, 클래스 이름 등
            span.term__content 어떤 값을 구별해서 식별할 수 있는 고유한 이름, 주의해야 할 점은 식별자는 값이 아니라 메모리 주소를 기억함
        li.term_list
            span.term__name 값(value)
            span.term__content 식(표현식)이 평가되어 생성된 결과       
        li.term_list
            span.term__name 평가(evaluate)
            span.term__content 식을 해석해서 값을 생성하거나 참조하는 것을 의미
        li.term_list
            span.term__name 할당(assignment) = 대입, 저장
            span.term__content 변수에 값을 저장한는 것
        li.term_list
            span.term__name 참조(reference)
            span.term__content 변수에 저장된 값을 읽어 들이는 것
        li.term_list
            span.term__name 스코프(scope)
            span.term__content 식별자가 유효한 범위, ex) 매개변수는 함수 몸체 내부에서만 참조 할(값을 읽을 수) 있다. / 식별자가 검색할 때 사용하는 규칙
        li.term_list
            span.term__name
            span.term__content     