extends ./layouts/main.pug

block content
    h3 3.2.4 디버깅 24p~
    #counter 0
    button#increase +
    button#decrease -
    p 디버깅 또는 디버그는 컴퓨터 프로그램 개발 단계 중에 발생하는 시스템의 논리적인 오류나 비정상적 연산을 찾아내고 그 원인을 밝히고 수정하는 작업 과정을 뜻한다. 
    script(src="/static/js/debuggingg.js")