extends ./layouts/main.pug

block content
    h3.content-title 데이터 타입 39장 DOM2(내용이 많아 또 하나더,,,)
    h2.content-subtitle 자식, 부모, 형제 노드 탐색 & 노드 정보 취득
    ul#fruits
        li.apple Apple
        li.banana Banana
        li.orange Orange
    div#notThing
    script(src="../static/js/dom2.js")