extends ./layouts/main.pug

block content
    h3.list-title Study List
    ul
        li.study-list
            a(href=`${routes.debuggingg}`) Debugging
        li.study-list
            a(href=`${routes.dataType}`) Data Type
