.box {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  background-color: #fff700;
  border: 5px solid orange;
  cursor: pointer;
}

#keyboard {
  margin-top: 10px;
  border: 2px solid black;
}

#event2-animal,
#event2-person {
  display: flex;
  list-style-type: none;
  padding: 0;
}

#event2-animal li,
#event2-person li {
  width: 100px;
  cursor: pointer;
}

#event2-animal .active,
#event2-person .active {
  color: blue;
  text-decoration: underline;
}
