.content-title {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 700;
}

.content-subtitle {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.study-list:nth-child(1) {
  margin-top: 30px;
}

.study-list {
  margin-bottom: 20px;
}
